.CommonButton {
    outline: none;
    border: none;
    height: 45px;
    background: #802b2b79;
    padding: 8px 55px;
    color: rgba(255, 255, 255, 0.871);
    border-radius: 0;
    transition: .2s;
    cursor: pointer;
    font-size: 20px;  
}

.CommonButton:hover {
    background: rgba(102, 51, 153, 0.815)
}

@media screen and (max-width: 768px) {
    .CommonButton {
        height: calc(45 / 768 * 100vw);
        padding: calc(8 / 768 * 100vw) calc(55 / 768 * 100vw);
        font-size: calc(20 / 768 * 100vw);
    }   
}